@use "../abstract/" as *;
.revealing-img {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25rem;

  @include respond(tab-land) {
    margin-bottom: 10rem;
  }
  
  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
  

  &__box {
    position: absolute;
    left: 100%;
    @include respond(tab-port) {
      left: 0;
    }
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &__img {
    max-width: 100%;
  }
}
