@use "../abstract/" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @extend %container;
  position: relative;
  // padding: 0rem 0 41rem 0;
  margin-bottom: 51rem;
  &__body {
    // h3 {
    //   font-size: 20rem;
    // }
    max-width: 60%;
    background-color: rgba($white, 0.7);

    backdrop-filter: blur(30px);
    border-radius: 10px;

    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.07);
    padding: 7rem 5rem;
    z-index: 4;

    h3 {
      width: 60%;
    }
  }

  &__img-box {
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: -1;
    // width: 100%;
  }
  &__img {
    max-width: 100%;
  }
}
